@{
    ViewData["Title"] = "Dashboard";
}

@using System.Collections.Generic
@using Psycho.DAL.Core.Domain
@using Psycho.DTO.Core
@using Newtonsoft.Json
@model Psycho.DTO.Persistence.PsychologistWithAppointmentsDTO

@section csss{
    <link href="~/css/profile.css" rel="stylesheet">
}

<div class="modal fade" id="createAppModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="createAppDialog" class="modal-dialog modal-lg" role="document"></div>
</div>
<div class="modal fade" id="showAppResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="showAppDialog" class="modal-dialog modal-lg" role="document"></div>
</div>

<main>
    <div class="container-fluid">

        <!-- Section: Team v.1 -->
        <section class="section team-section">

            <!-- Grid row -->
            <div class="row text-center">

                <!-- Grid column -->
                <div class="col-md-8 mb-4">

                    <!-- Card -->
                    <div class="card card-cascade cascading-admin-card user-card">

                        <!-- Card Data -->
                        <div class="admin-up d-flex justify-content-start">
                            <i class="fas fa-calendar-alt info-color py-4 mr-3 z-depth-2"></i>
                            <div class="data">
                                <h5 class="font-weight-bold dark-grey-text">
                                    Appointments - <span class="text-muted">
                                        schedule
                                    </span>
                                </h5>
                                <div style="position: absolute; right: 10px; top: 5px;">
                                    <a id="create-appointment" class="btn-floating blue-gradient"><i class="fas fa-plus" style="padding: 0; display: flex; align-items: center; justify-content: center"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Card Data -->
                        <!-- Card content -->
                        <div class="card-body card-body-cascade">

                            @if (Model.appointments.Count == 0)
                            {
                                <div class="alert alert-primary" role="alert">
                                    You haven`t active appointments.
                                </div>
                            }

                            <div id="calendar"></div>
                            <script>
                                    window.onload = function () {

                                    var p = JSON.parse('@JsonConvert.SerializeObject(Model.appointments)'.replace(/(&quot\;)/g,"\""));
                                    var q = @Html.Raw(Model.json);

                                    $('#calendar').fullCalendar({
                                        defaultView: 'month',
                                        defaultDate: Date.now(),
                                        displayEventTime: true,
                                        displayEventEnd: true,

                                        eventRender: function (eventObj, $el) {
                                            $el.popover({
                                                title: eventObj.title,
                                                content: eventObj.description,
                                                trigger: 'hover',
                                                placement: 'top',
                                                container: 'body'
                                            });
                                        },

                                        events: q,
                                        timeFormat: 'H:mm'
                                    });
                                }</script>
                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <!-- Card -->
                    <div class="card profile-card">

                        <!-- Avatar -->
                        <div class="avatar z-depth-1-half mb-4">
                            <img src="../img/man.png" class="rounded-circle" alt="Avatar image">
                        </div>

                        <div class="card-body pt-0 mt-0">

                            <!-- Name -->
                            <h3 class="mb-3 font-weight-bold"><strong>@Model.Name</strong></h3>
                            <h6 class="font-weight-bold cyan-text mb-4">Psychologist</h6>

                            <p class="mt-4 text-muted">

                            </p>

                            <a href="@Url.Action("Profile", "User", null)" class="btn btn-info btn-rounded">Profile</a>

                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Team v.1 -->

    </div>

</main>

@section scripts{
    <script type="text/javascript" src="~/js/dashboard-psychologist.js"></script>
}