@media (min-width: 600px) {
    main {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (min-width: 992px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 1200px) {
    main {
        margin-left: 6%;
        margin-right: 6%;
    }
}

main {
    padding-top: 5.5rem;
}